/* css styles */
body {
  background: linear-gradient(135deg, #fce4ec 0%, #f8bbd0 100%);
  background-attachment: fixed;
}


.quarto-container {
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 30px; 
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 8px 20px rgba(252, 228, 236, 0.5); 
}


.navbar {
  background-color: #f06292 !important; 
  border-bottom: none;
}


.navbar-title, .nav-link {
  color: white !important;
}


.sidebar nav[role="doc-toc"] ul li a, 
.sidebar nav[role="doc-toc"] h2 {
  color: #d81b60 !important; 
  opacity: 1 !important;
}


.sidebar nav[role="doc-toc"] ul li a:hover {
  color: #f06292 !important;
}


a {
  color: #f06292 !important; 
  text-decoration: none; 
}


a:hover {
  color: #d81b60 !important;
  text-decoration: underline; 
}
